head {
    color: lightsalmon;
}

body {
    background-color: grey;
    /* background-image: url(https://w.wallhaven.cc/full/0j/wallhaven-0jpqop.jpg) */
    background-image: image("bg.png");
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    align-content: center;
    color: orange;
    margin-left: 20%;
}