head {
    color: lightsalmon;
}

body {
    background-color: grey;
    background-image: url("./bg.png");
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    align-content: center;
    color: orange;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    align-content: stretch;
    color: yellow;

}